body {
	padding: 0px;
	margin: 0px;
	background-color: mintcream;
}

p {
	margin: 0;
}

/* game */
.game {
	position: relative;
	width: 800px;
	border: 3px solid gray;
	border-radius: 15px;
	margin: 100px auto auto auto;
	background-color: white;
	padding-top: 60px;
}

/* buttons */
button {
	background-color: purple;
	color: white;
	border-radius: 10px;
	box-shadow: 0;
	border: 0;
	padding: 10px;
}

.answer {
	display: block;
}

button:hover {
	background-color: rebeccapurple;
}

/* view high scores */
#view-high-scores {
	color: rebeccapurple;
	position: absolute;
	top: 0;
	left: 0;
	margin: 16px;
}

/* timer */
#timer {
	position: absolute;
	top: 0;
	right: 0;
	margin: 16px;
}




 /* debug */
/* section { */
	/* border: 1px solid red; */
/* } */
* {
	border: 1px solid red;
}