body {
	padding: 0px;
	margin: 0px;
	background-color: mintcream;
}

 /* buttons */
button {
	background-color: purple;
	color: white;
	border-radius: 10px;
	box-shadow: 0;
	border: 0;
	padding: 10px;
}

.answer {
	display: block;
}

button:hover {
	background-color: rebeccapurple;
}







 /* debug */
/* section { */
	/* border: 1px solid red; */
/* } */